html {
    background: #222;
}

body {
    background: #fff;
}

input.fileinput {
    line-height: 1.75;
}

input.fileinput#file-upload-button {
    background-color: #000;
}

body,
#start,
#count,
#ending,
.mdui-valign {
    width: 1920px;
    height: 1080px;
}

#start,
#count,
#home,
#ending,
#main,
#dataVisual,
#svgL,
#svgR,
#svgM {
    display: none;
}

#playbutton {
    height: 72px;
    margin-top: 100px;
    border-radius: 36px;
}

#main,
#start,
#ending,
#home {
    position: relative;
}

#home .mdui-typo-display-4 {
    font-weight: bold;
}

#musicdiv {
    position: relative;
    top: 45px;
    left: 600px;
    max-width: 700px;
}

#ending .inner {
    padding: 64px 192px;
}

#ending .info {
    position: absolute;
    bottom: 109px;
    left: 192px;
}

.copyright {
    position: absolute;
    bottom: 32px;
    left: 32px;
    opacity: .5;
}

#snackbar {
    position: absolute;
    bottom: 96px;
    left: 192px;
}

#dataVisual {
    position: absolute;
    top: 0;
    left: 0;
}

#musicdiv {
    overflow: hidden;
}